{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>

{% if school_list %}
	<ul>
	{% for school in school_list %}
		<li>
			<h1><a href="{% url 'lgtrp:school' school.id%}">Students from {{ school.name }}</a></h1>
			<ul>
				{% if school.students.all %}
					{% for student in school.students.all %}
						<li><a href="{% url 'lgtrp:student' student.id %}">{{ student.name }}</a></li>
					{% endfor %}
				{% else %}
					<li>No students are available.</li>
				{% endif %}
			</ul>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p> No schools are available.</p>
{% endif %}

